@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes: forest;
}

@theme {
  --font-sans: "Fira Sans", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}

html {
  color-scheme: dark;
}

body {
  @apply text-base-content font-sans selection:bg-primary/20 selection:text-base-content;

  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: oklch(20.84% 0.008 17.911);
}

::-webkit-scrollbar-thumb {
  background-color: oklch(83.768% 0.001 17.911);
  @apply rounded;
}

code,
pre {
  @apply font-mono;
}

@utility text-gradient {
  @apply text-transparent bg-linear-to-r bg-clip-text from-primary via-secondary to-accent capitalize;
}
